<!doctype html>
<html lang="en">
<head>
    <style>
        body {

            background: rgb(13,0,36);
            background: linear-gradient(90deg, rgba(13,0,36,0) 0%, rgba(44,163,180,1) 100%, rgba(0,212,255,0.1516981792717087) 100%);
        }
    </style>
</head>
<body>

</body>
</html>