<%- include('./partials/yelp/header'); -%>
<div class="container" style="text-align: center">
    <div style="width: 30%; margin: auto">
        <h1 style="text-align: center">Sign Up</h1>
        <form action="/register" method="post">
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="username">
            </div>

            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="password">
            </div>
            <div class="form-group">
                <input type="text" name="firstName" class="form-control" placeholder="first name">
            </div>
            <div class="form-group">
                <input type="text" name="lastName" class="form-control" placeholder="last name">
            </div>
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="john@doe.com">
            </div>
            <div class="form-group">
                <input type="text" name="avatar" class="form-control" placeholder="avatar url">
            </div>
            <div class="form-group">
                <input type="password" name="adminCode" class="form-control" placeholder="admin code">
            </div>

            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>
<%- include('./partials/yelp/footer'); -%>